{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Список заявок
{% endblock %}

{% block content %}
<div class="container-fluid py-5 my-3">
    <h2 class="text-center">
        Список заявок
    </h2>
    <div class="table-responsive pb-5">
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr class="table-dark">
                    <td scope="col"><small>#</small></td>
                    <th scope="col"><small>Дата</small></th>
                    <th scope="col"><small>Отделение</small></th>
                    <th scope="col"><small>Краткое описание проблемы</small></th>
                    <th scope="col"><small>Ф.И.О Инициатора</small></th>
                    <th scope="col"><small>Ф.И.О Исполнителя</small></th>
                    <th scope="col"><small>Телефон для связи</small></th>
                    <th scope="col"><small>Дата завершения</small></th>
                    <th scope="col"><small>Комментарий</small></th>
                    <th scope="col"><small>Статус</small></th>
                </tr>
            </thead>
            <tbody>
                {% for el in category_task %}
                {% if el.completed == True %}
                <tr class="table-success">
                {% elif el.comment|default_if_none:'' != '' %}
                <tr class="table-danger">
                {% else %}
                <tr>
                {% endif %}
                    <td><small>{{el.id}}</small></td>
                    <td><small>{{el.date_created}}</small></td>
                    <td data-toggle="tooltip" data-placement="top" title="{{ el.department }}"><small>{{ el.department.abbreviation }}</small></td>
                    {% if el.description|default_if_none:''|length > 150 %}
                    <td data-toggle="tooltip" data-placement="top" title="{{ el.description }}"><small class="text-primary">{{ el.description|truncatechars:'150' }}</small></td>
                    {% else %}
                    <td><small>{{ el.description}}</small></td>
                    {% endif %}
                    <td style = "width: 130px;"><small>{{el.initiator}}</small></td>
                    <td style = "width: 130px;"><small>{{el.performer|default_if_none:''}}</small></td>
                    <td style = "width: 123px;"><small>{{el.phone_number}}</small></td>
                    <td><small>{{ el.date_completed|default_if_none:''}}</small></td>
                    {% if el.comment|default_if_none:''|length > 15 %}
                    <td style = "width: 130px;" data-toggle="tooltip" data-placement="top" title="{{ el.comment }}"><small class="text-primary">{{ el.comment|truncatechars:'15' }}</small></td>
                        {% else %}
                        <td><small>{{ el.comment|default_if_none:''}}</small></td>
                        {% endif %}
                    </td>
                    <td>
                        <small>
                            {% if el.completed == False %}
                            <a class="btn-sm btn-danger text-decoration-none" href="{% url 'update_task' el.pk %}">Изменить</a>
                            {% else %}
                            <a class="btn-sm btn-success text-decoration-none" href="{% url 'update_task' el.pk %}">Изменить</a>
                            {% endif %}
                        </small>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}