{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
Список заявок
{% endblock %}

{% block content %}
<div class="container-fluid py-5 my-3">
    <h2 class="text-center">
        Список заявок
    </h2>
    <div class="table-responsive pb-5">
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr class="table-dark">
                    <td scope="col"><small>#</small></td>
                    <th scope="col"><small>Дата</small></th>
                    <th scope="col"><small>Отделение</small></th>
                    <th scope="col"><small>Краткое описание проблемы</small></th>
                    <th scope="col"><small>Ф.И.О Инициатора</small></th>
                    <th scope="col"><small>Ф.И.О Исполнителя</small></th>
                    <th scope="col"><small>Телефон для связи</small></th>
                    <th scope="col"><small>Дата завершения</small></th>
                    <th scope="col"><small>Комментарий</small></th>
                    <th scope="col"><small>Статус</small></th>
                </tr>
            </thead>
            <tbody>
                {% for el in object_list %}
                {% if el.completed == False %}
                <tr>
                {% else %}
                <tr class="table-success">
                {% endif %}
                    <td><small>{{el.id}}</small></td>
                    <td><small>{{el.date_created}}</small></td>
                    <td data-toggle="tooltip" data-placement="top" title="{{ el.department }}"><small>{{ el.department.abbreviation }}</small></td>
                    {% if el.description|default_if_none:''|length > 150 %}
                    <td data-toggle="tooltip" data-placement="top" title="{{ el.description }}"><small class="text-primary">{{ el.description|truncatechars:'150' }}</small></td>
                    {% else %}
                    <td><small>{{ el.description}}</small></td>
                    {% endif %}
                    <td style = "width: 130px;"><small>{{el.initiator}}</small></td>
                    <td><small>{{el.performer|default_if_none:''}}</small></td>
                    <td style = "width: 130px;"><small>{{el.phone_number}}</small></td>
                    <td><small>{{ el.date_completed|default_if_none:''}}</small></td>
                    {% if el.comment|default_if_none:''|length > 10 %}
                    <td data-toggle="tooltip" data-placement="top" title="{{ el.comment }}"><small class="text-primary">{{ el.comment|truncatechars:'10' }}</small></td>
                        {% else %}
                        <td><small>{{ el.comment|default_if_none:''}}</small></td>
                        {% endif %}
                    </td>
                    <td>
                        <small>
                            {% if el.completed == False %}
                            <a class="btn-sm btn-danger text-decoration-none" href="{% url 'update_task' el.pk %}">Изменить</a>
                            {% else %}
                            <a class="btn-sm btn-success text-decoration-none" href="{% url 'update_task' el.pk %}">Изменить</a>
                            {% endif %}
                        </small>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="#" id="toTop">
    <svg width="10pt" height="10pt" viewBox="0 0 630 630" version="1.1">
        <g>
            <g>
                <path d="M489.229,442.468L254.563,37.135c-3.797-6.592-14.677-6.592-18.453,0L1.443,442.468c-1.92,3.307-1.92,7.36-0.021,10.667
            c1.92,3.307,5.44,5.333,9.259,5.333h469.333c3.819,0,7.339-2.027,9.259-5.333C491.128,449.849,491.128,445.775,489.229,442.468z"/>
            </g>
        </g>
    </svg>
</a>
{% endblock %}